body {
    background-color: black;
    margin: 0; 
    padding: 0; 
}

.display {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.msg-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

#text-input {
    background-color: black;
    border: 2px solid rgb(216, 1, 1);
    color: white;
    height: 40px;
    width: calc(100% - 100px); 
    padding-right: 40px; 
    padding-left: 10px;
    border-radius: 5px; 
    position: absolute;
    bottom: 100px; 
    right: 80px; 
}

#send {
    color: white;
    background-color: rgb(99, 99, 99);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 100px; 
    right: 35px;
}

.conversation {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    max-width: 80%; /* Limit message width */
}

.user {
    align-self: flex-end; /* Align user messages to the right */
    background-color: #6c757d; /* Blue color for user messages */
    color: white;
  }
  
  .bot {
    align-self: flex-start; /* Align bot messages to the left */
    background-color: #d62a5e; /* Gray color for bot messages */
    color: white;
  }
