.pink-box {
    background-color: #d62a5e;
    border-radius: 5px;
    padding: 0 5px;
}

.create-char {
    background-color: #d62a5e;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.main-nav {
    text-align: center;
}

.nav-op:link,
.nav-op:visited{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.nav-op:hover,
.nav-op:active {
    border-bottom: 1px solid #d62a5e;
    color: #d62a5e;
    padding-bottom: 4px;
}

.dropdown {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    display: flex;
    justify-content: end;
}