.profile-navbar {
    background-image: linear-gradient(to bottom, #000000, #4e4e4e);
    color: white;
    display: inline-flex;
    justify-content: space-around;
    width: 400px;
    height: 25px;
}

.profile-card {
    background-color: #d62a5e;
}

.black-box {
    background-color: #3b3b3b;
    border-radius: 10px;
    color: white;
    margin: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between ;
}

.row p {
    margin: 0;
}

.row span {
    align-items: end;
}
